
  *{
    margin:0;
    box-sizing: border-box;
  }
html, body{
  height: 100%;
  max-width:1440px;
  margin: 0 auto;
  background-image: url(../img/Background.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;

}

  .header{
    position: absolute;
      z-index:150;
      height: 65px;
      padding-left:57px;
      padding-top:22px;
      /* line-height: 10px; */
  }

  .nav > ul {
      list-style: none;
      display: flex;
      flex-direction: row;
  }
  
  .nav a {
      text-decoration: none ;
      font-family:'Raleway Bold';
      font-size: 29px;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: left;
  }
 
.nav li:nth-child(2) {
  margin-left:675px;
}

  .gamburger{
    background-image: url(../img/ShapeBurger.png);
   display:block;
    width: 18px;
    height: 21px;
    margin-left: -4px;
    margin-top: 33px;
  }
  .nav li {
    color:white;
    font-size: 18px;
    line-height: 95px;
    font-family:'Raleway Bold';
    margin-right:18px;
}
.main1{
  margin:0px 0px;
  z-index:10;
  position:absolute;
  width:130%;
  background-image: url(../img/Objects.png);
  height:100%;
  /* background-image: url(../img/Background.png); */
 background-position: 0px 0px;
 background-repeat: no-repeat;
  height: 1000px;
}

.article1{
  width:80%;
  margin:431px 0px 176px 200px;
  display:flex;
  flex-direction: row;

}
.article1-Item1{
  flex:0 1 40%;
}
.article1-Item2{
  flex: 0 1 47%;
}

.text2{
  font-family: 'Raleway Medium';
  font-size: 57px;
  color: rgb(255, 255, 255);
  margin: -13px 60px;
}
.text3{
  font-family: 'Monoton Regular';
  font-size: 71px;
  color: rgb(255, 255, 255);
  margin: -16px 6px
}
.text4{
  font-family: 'Raleway Semibold';
    font-size: 62px;
    color: rgb(255, 255, 255);
    margin: 24px 0px 0px 12px;
}

.rectangle{
  background-image: url(../img/Rectangle\ .png);
    width: 161px;
    height: 7px;
  margin:16px 0px 0px 340px;
}
.text5{
  font-family: 'Raleway Medium';
    font-size: 14px;
    margin: 24px 0px 0px -40px;
      font-size: 25px;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: right;
      width: 82%;
}
.button{
  background-image: url(../img/Button.png);
 display:block;
  width: 254px;
  height: 48px;
  opacity: 0.8;
  margin:51px 0px 0px 248px;
}
.article2{
  background: #000001;
  margin:0px 0px 0px 0px;
  height:52%;
}
.smart_object{
  position:absolute;
  background-image: url(../img/Smart_Object.png);
width:52px;
height: 52px;
margin:122px 0px 0px 694px;
}

