* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.containerVPFixed {
  width: 1100px;
  margin: 0px auto;
  padding: 15px;
  height: 100%;
}

.containerVPResponsive {
  max-width: 1366px;
  /* margin : 0px auto; */
  /* padding:15px; */
  height: 100%;
}

.containerVPAdaptive {
  max-width: 1200px;
  /* margin : 0px auto; */
  /* padding:15px; */
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #4e99a5;
  height: 87px;
}

.nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-right: 109px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 95px;
  font-family: "Helvetica-Condensed";
}

.nav li {
  color: white;
  font-size: 18px;
  line-height: 95px;
  font-family: "Helvetica-Condensed";
  margin-right: 23px;
}

.logo {
  font-family: "Cherry Swash", arial;
  color: white;
  font-size: 40px;
  line-height: 85px;
  padding-left: 183px;
}

.article1 {
  background: coral;
  flex: 0 1 33%;
  border: solid 4px red;
  padding: 20px;
  margin: 10px;
}

.main1 {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1200px) {
  .containerVPAdaptive {
    max-width: 1170px;
  }
}

@media (max-width: 992px) {
  /* .containerVPAdaptive{
    max-width:992px;
   
  } */
  .main1 {
    flex-direction: column;
  }
  .article1 {
    background: cornflowerblue;
    /* flex   : 0 1 100%; */
  }
}

@media (max-width: 767px) {
  .containerVPAdaptive {
    max-width: none;
  }
}

@media (max-width: 830px) {
  .logo {
    content: none;
    font-family: "Cherry Swash", arial;
    color: white;
    font-size: 1px;
    line-height: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 555px) {
  .nav > ul {
    padding-right: 0px;
  }
  .nav a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    line-height: 95px;
    font-family: "Helvetica-Condensed";
  }
  .nav li {
    color: white;
    font-size: 12px;
    line-height: 95px;
    font-family: "Helvetica-Condensed";
    margin-right: 15px;
  }
}
