@font-face {
    font-family: "Raleway Bold";
    src: url("../fonts/Raleway.ttf");
}

@font-face {
    font-family: "Raleway Medium";
    src: url("../fonts/RalewayMedium.ttf");
}

@font-face {
    font-family: "Monoton Regular";
    src: url("../fonts/MonotonRegular.ttf");
}

@font-face {
    font-family: "Raleway Semibold";
    src: url("../fonts/RalewaySemibold.ttf");
}

@font-face {
    font-family: "Raleway Regular";
    src: url("../fonts/Raleway_Regular.ttf");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/Myriad_Pro.ttf");
}