
  *{
      margin:0;
    box-sizing: border-box;
  }
  html, body{
    height: 100%;
    width:1280px;
    margin: 0 auto
  
  }

  .header{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      background: #4e99a5;
      height: 87px;
  }

  .nav > ul {
        list-style: none;
      display: flex;
      flex-direction: row;
       padding-right: 109px;
  }
  
  .nav a {
      text-decoration: none ;
      color:white;
      font-size: 18px;
      line-height: 95px;
     
      font-family:'Helvetica-Condensed';
  }
  .nav li {
  
    color:white;
    font-size: 18px;
    line-height: 95px;
    font-family:'Helvetica-Condensed';
    margin-right:23px;
}

.logo{
    font-family: 'Cherry Swash', arial;
    color:white;
    font-size: 40px;
    line-height: 85px;
    padding-left: 183px;
}

.article1{
    display: flex;
    flex-direction: column;
    /* /* background: tomato; */
   background-image: url(../img/Layer1.png); 
   background-size:100% 143%;
     /* background-image: url(https://i.ytimg.com/vi/DcSTRzLR1t0/maxresdefault.jpg); */
     /* background: url('max.jpg') ; */
     /* background-size: inherit; */
  
    height:475px;
    
   
}

.text1{

    margin: 117px auto 0px;
    display: block;
    max-width: 540px;
    text-align: center;
    font-size: 44px;
    color:#e4e4e4;
    font-family:'HelveticaLTStd Bold';
    font-weight: bold;
    line-height: 58px;
    word-spacing:0px;
    

}

.a1{

  margin: 31px auto 0px;
  border: solid 3px #afb1b4;
  border-radius: 6px;
  display: block;
  height: 52px;
  width: 239px;
  font-size:32px;
  color:#e4e4e4;
  font-family:'HelveticaLTStd Light';
  /* text-align: center; */
  line-height: 46px;
  letter-spacing: -1px;
  padding-left: 46px;
}

.dotes{
list-style: none;
display: flex;
flex-direction: row;
}
.noSelect{
  display: block;
  height: 10px;
  width: 10px;
background-image: url(../img/Ellipse1.png);
background-size: cover;
}


