
  *{
      margin:0;
    box-sizing: border-box;
  }
  html, body{
    height: 100%;
    width:1280px;
    margin: 0 auto
  
  }

  .header{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      background: #4e99a5;
      height: 87px;
  }

  .nav > ul {
        list-style: none;
      display: flex;
      flex-direction: row;
       padding-right: 109px;
  }
  
  .nav a {
      text-decoration: none ;
      color:white;
      font-size: 18px;
      line-height: 95px;
     
      font-family:'Helvetica-Condensed';
  }
  .nav li {
  
    color:white;
    font-size: 18px;
    line-height: 95px;
    font-family:'Helvetica-Condensed';
    margin-right:23px;
}

.logo{
    font-family: 'Cherry Swash', arial;
    color:white;
    font-size: 40px;
    line-height: 85px;
    padding-left: 183px;
}

.article1{
    display: flex;
    flex-direction: column;
    /* /* background: tomato; */
   background-image: url(../img/Layer1.png); 
   background-size:100% 143%;
     /* background-image: url(https://i.ytimg.com/vi/DcSTRzLR1t0/maxresdefault.jpg); */
     /* background: url('max.jpg') ; */
     /* background-size: inherit; */
  
    height:475px;
    
   
}

.text1{

    margin: 117px auto 0px;
    display: block;
    max-width: 540px;
    text-align: center;
    font-size: 44px;
    color:#e4e4e4;
    font-family:'HelveticaLTStd Bold';
    font-weight: bold;
    line-height: 58px;
    word-spacing:0px;
    

}

.a1{
text-decoration: none;
  margin: 31px auto 0px;
  border: solid 3px #afb1b4;
  border-radius: 6px;
  display: block;
  height: 52px;
  width: 239px;
  font-size:32px;
  color:#e4e4e4;
  font-family:'HelveticaLTStd Light';
  /* text-align: center; */
  line-height: 46px;
  letter-spacing: -1px;
  padding-left: 46px;
}

.dotes{
  box-sizing: border-box;
 
margin:118px auto 0px;  
}

  .dotes > ul{
    padding:0;
    
list-style: none;
display: flex;
flex-direction: row;
margin-left: 11px;
}
.noSelect{
  display: block;
  height: 9px;
  width: 9px;
  margin-right:11px;
background-image: url(../img/Ellipse1.png);
background-size: contain;
}
.Select{
background-image: url(../img/Ellipse1-selected.png);
}


.article2{
background: #ffffff;
height: 443px;
display:flex;
flex-direction: column;

}

  .text2 {
    margin:71px auto 0;
    font-size: 30px;
    font-family: "HelveticaLTStd Light";
    display: block;
    color: rgb(76, 80, 93);
    line-height: 49px;
    text-align: center;
    width: 634px;
    height: 77px;
  }
  .text3 {
    margin:47px auto 0;
    margin-left: 193px;
    display: block;
    font-size: 14px;
    font-family: "HelveticaLTStd Roman";
    color: rgb(76, 80, 93);
    line-height: 22px;
    text-align: center;
    width: 882px;
  }
  .icons{
display: flex;
flex-direction: row;
list-style-type: none;
width:425px;
margin:71px auto 0;
padding: 0;
  }

   .Shape {
   
     margin:0;
     display:block;
    z-index: 20;
    background-size: contain;

    width: 56px;
    height: 50px;
  margin-right:127px;
  
  
  }
  .Shape1 {
   background-image: url(../img/Shape\ 2.png);
 }
 .Shape2 {
  background-image: url(../img/Shape\ 3.png);
  height: 55px;
  width: 55px;
  margin-top:-3px;
}
  
.Shape3 {
  background-image: url(../img/Shape\ 4.png);
  height: 49px;
  width:51px;
  margin-left:-1px
}
  
   
.article3{
  background: #00d089;
  height: 468px;
 
  }
  

  .Photo1{
    background-image: url(../img/PhotoDhavan.png);
      width: 135px;
      height: 135px;
      margin:96px 0px 0px 579px;
  }
  .wrapper0{
    display:flex;
    flex-direction: row;
  }
 
  .wrapper1{
    display:flex;
    flex-direction: column;
  }

  .Photo2{
    background-image: url(../img/dhavan\ .png);
      width: 103px;
      height: 19px;
     margin:107px 0px 0px 38px;
  }
  .Photo3{
    background-image: url(../img/copy.png);
    width: 127px;
      height: 92px;
     margin:15px 0px 0px 38px;
  }

  .art3_text{
   margin:51px 0 0 212px;
      font-size: 18px;
      font-family: "HelveticaLTStd Light";
      color: rgb(255, 255, 255);
      line-height: 32px;
      width: 936px;
      height: 81px;
  }


  .article4{
    background-image: url(../img/Layer\ 4.png);
    background-position: 0 -110px;
    background-size: 100% 123%;
    height:516px;
    }

    .art4_cycle{
      
        border-radius: 50%;
        background-image: url(../img/Ellipse\ 2.png);
        opacity: 0.99;
        position: absolute;
        left: 421px;
        top: 1522px;
        width: 439px;
        height: 439px;
        z-index: 10;
   
      
    }
    .Rectangle_2 {
      border-style: solid;
      border-width: 1px;
      border-color: rgb(216, 216, 216);
      background-color: rgb(255, 255, 255);
      position: absolute;
      left: 504px;
      top: 1635px;
      width: 279px;
      height: 35px;
      z-index: 25;
    }

    .footer {
      background: #00d089;
      height: 40px;
      margin:0;
    }

    .footer > p{
      margin:0 0 0 544px;
    
        font-size: 14px;
        font-family: "Helvetica-Condensed";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 40px;
  
      
    }

    .inputWrapper{
      display:flex;
      flex-direction: column;
      width:277px;
      margin: 113px 0 0 85px;
    }
    
    .inputText
    { 
      font-size: 14px;
      font-family: "HelveticaLTStd Light";
      color: rgba(76, 80, 93, 0.502);
      line-height: 1.571;
     text-align: justify;
     text-indent:14px;
     border:solid 1px rgb(216, 216, 216);
    }


    .inputText1
    { 
    height: 33px;
    margin-bottom:13px;
    }    

    .inputText2
    { 
    height: 83px;
    }    

    .Send_cycle{

      background-image: url(../img/Shape\ 5.png);
     display:block;
       margin:32px 0 0 106px;
     
        width: 66px;
        height: 67px;
     
      
    }



