@font-face {
  font-family: "CLEANVEB";
  src: url("../fonts/CLEANVEB.TTF");
}

@font-face {
  font-family: "CLEANVEL";
  src: url("../fonts/CLEANVEL.TTF");
}
@font-face {
  font-family: "DeutschGothic";
  src: url("../fonts/DeutschGothic.ttf");
}
@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin-Regular.otf");
}

@font-face {
  font-family: "beerMoney";
  src: url("../fonts/beerMoney.ttf");
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl.otf");
}
